<ion-header>
  <ion-toolbar>
    <ion-title>Waiters List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item  (click)="menu($event,'Waiter # 1')" style="cursor: pointer">
    <a>Waiter # 1</a>
  </ion-item>  <ion-item>
    <a (click)="menu($event,'Waiter # 1')">Waiter # 1</a>
  </ion-item>  <ion-item>
    <a (click)="menu($event,'Waiter # 1')">Waiter # 1</a>
  </ion-item>  <ion-item>
    <a (click)="menu($event)">Waiter # 1</a>
  </ion-item>  <ion-item>
    <a (click)="menu($event)">Waiter # 1</a>
  </ion-item>  <ion-item>
    <a (click)="menu($event)">Waiter # 1</a>
  </ion-item>  <ion-item>
    <a (click)="menu($event)">Waiter # 1</a>
  </ion-item>
</ion-content>
