<ion-header>

    <ion-toolbar>
        <ion-label style="padding-right:5% "><a routerLink="">Home</a></ion-label>

        <ion-label>Dine</ion-label>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ng-container>
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <ion-row>

                        <ng-container *ngFor="let table of tableInfo.getTables(); let i=index">
                            <ng-container *ngIf="table?.status=='empty'">

                                <ion-col size="3" style="size: 40px" (click)="openMenuModal(table?.name)">
                                    <ion-item style="background-color: #0ec254; cursor: pointer;border-radius: 5px;">

                                        <ion-label style="text-align: center">
                                            <h2>{{table?.name}}</h2>
                                        </ion-label>
                                    </ion-item>
                                </ion-col>
                            </ng-container>

                            <ng-container *ngIf="table?.status=='on going'">
                                <ion-col size="3" (click)="gotoMenu(table?.name)">
                                    <ion-item style="background-color: #d33939; cursor: pointer;border-radius: 5px;">
                                        <!--<ion-avatar slot="start">-->
                                            <!--<img src="../../assets/images/dinngtable.png"/>-->
                                        <!--</ion-avatar>-->
                                        <ion-label style="text-align: center">
                                            <h2>{{table?.name}}</h2>
                                        </ion-label>
                                    </ion-item>
                                </ion-col>
                            </ng-container>


                            <ng-container *ngIf="table?.status=='bill processing'">
                                <ion-col size="3" (click)="gotoMenu(table?.name)">
                                    <ion-item style="background-color: #0bb8cc; cursor: pointer;border-radius: 5px;">
                                        <!--<ion-avatar slot="start">-->
                                            <!--<img src="../../assets/images/dinngtable.png"/>-->
                                        <!--</ion-avatar>-->
                                        <ion-label style="text-align: center">
                                            <h2>{{table?.name}}</h2>
                                        </ion-label>
                                    </ion-item>
                                </ion-col>
                            </ng-container>
                        </ng-container>
                    </ion-row>
                </ion-col>
                <ion-col size="4">
                    <ion-button color="medium" expand="block" (click)="openTransferTable()">Transfer Table
                    </ion-button>
                    <ion-button color="success" expand="block">Merge Table</ion-button>

                </ion-col>

            </ion-row>

        </ion-grid>

    </ng-container>
</ion-content>