h2{

  color: white;
  font-size: 30px;
}


ion-label.sc-ion-label-md-h.sc-ion-label-md-s.hydrated {
  margin: 30px 0 30px;
}

ion-avatar.hydrated {
  margin: 10px;
}

ion-button{
  font-size: 25px;
  margin-bottom: 15px;
}