
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.hydrated {
  text-align: center;
}

h2 {
  font-size: 20px;
}

a{
  cursor: pointer;
}

.my-modal {
  .modal-wrapper {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}
